ipykernel
jupyter
xarray
fastparquet
pyarrow
rich
beautifulsoup4==4.11.1
debugpy==1.5.1
geographiclib==1.52
geopy==2.2.0
pandas==1.5.2
pillow==9.3.0
pytorch_lightning==1.9.5
scikit-learn==1.0.2
scipy==1.9.1
tensorboard==2.11
torch==2.0.1
torchmetrics==1.1.1
torchvision==0.15.2
click-plugins==1.1.1
cligj==0.7.2
et-xmlfile==1.1.0
fiona==1.8.22
geojson==2.5.0
geomet==0.3.0
geopandas==0.12.1
munch==2.5.0
openpyxl==3.0.10
pyproj==3.4.0
pyqt5-sip==12.11.0
shapely==1.8.5.post1
torch-tb-profiler==0.4.1
matplotlib==3.6.2
omegaconf==2.3.0
netcdf4